<h2> My Jobs </h2>

<% @jobs.each do |j| %>

<div> Name: 
<%= link_to "#{j.name}", user_job_path(current_user, j) %>
</div>

<div> Description: 
<%= j.description %>
</div>

<div> Budget: 
$<%= j.budget_low %> - $<%= j.budget_high %>
</div>

<div> Digital? 
<%= j.digital %>
</div>

<br>
<% end %>
<br>
