<h2> Submit new Job </h2>

<% if @job.errors.any? %>
	<ul>
		<% @job.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
<% end %>

<%= form_for [current_user, @job] do |j| %>

<div>
  <%= j.label :name %>:
  <%= j.text_field :name %>
</div>

<div>
  <%= j.label :description %>:
  <%= j.text_area :description %>
</div>

<div>
  <%= j.label :budget_low %>:
  <%= j.number_field :budget_low %>
</div>

<div>
  <%= j.label :budget_high %>:
  <%= j.number_field :budget_high %>
</div>

<div>
  <%= j.label :zip %>:
  <%= j.text_field :zip %>
</div>

<div>
  <%= j.label :digital %>:
  <%= j.check_box :digital %>
</div>
  <%= j.button %>
<% end %>