<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

<div class="submit"><br><br>
  <h2> Submit new Job </h2>

  <% if @job.errors.any? %>
  	<ul>
  		<% @job.errors.full_messages.each do |msg| %>
  		<li>
  			<%= msg %>
  		</li>
  		<% end %>
  	</ul>
  <% end %>

  <%= form_for [current_user, @job] do |j| %>

  <div>
    <%= j.label :name %>:<br>
    <%= j.text_field :name %>
  </div>
  <div>
    <%= j.label :description %>:<br>
    <%= j.text_area :description %>
  </div>
  <div>
    <%= j.label :budget_low %>:<br>
    <%= j.number_field :budget_low %>
  </div>
  <div>
    <%= j.label :budget_high %>:<br>
    <%= j.number_field :budget_high %>
  </div>
  <div>
    <%= j.label :address %>:<br>
    <%= j.text_field :address %>
  </div>
  <%= j.button %>
  <% end %>
</div>
</body>
</html>
