<h2>
	Job Details Page
</h2>

<div>
  Name: <%= @the_job.name %> <br>
  Budget: <%= @the_job.budget_low %> - 
          <%= @the_job.budget_high %> <br>
  Description: <%= @the_job.description %> <br>
  Address: <%= @the_job.address %> <br>
  Coordinates: <%= @the_job.latitude %>, <%= @the_job.longitude %>  
</div>
